@font-face {
	font-family: TaiChi;
	src: url("taichi.otf");
}
body {
	max-width: 100vw !important;
}
.taichi {
	font-family: TaiChi;
}
img {
	float: right;
}
@media (prefers-color-scheme: dark) {
	img { filter: invert(100%); }
}
